<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fair Foods</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header class="jumbotron">
    <h1>Fair Foods at Lena Park</h1>
    <p>Fair Foods at Lena Park" and "Use this page to reserve one or more bags of fresh produce. Pick up on Tuesday afternoons at Lena Park. Each bag costs $2.</p>
    <img src="../images/fairFoods.jpg"></>
    </header>
    <div class="container">
      <p>How many grocery bags you are planning to purchase?</p>
      <p><strong>Name:</strong></p>
      <p><strong>Number:</strong></p>
      <button>Save</button>
    </div>
  </body>
</html>
