body {
  margin-left: 20%;
  margin-right: 20%;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  background-color: #c5e6ef;
  background-image: url(https://lh3.ggpht.com/bheuhKKEmExpdeuE0muihqWCzzSXLfHWbBbYl7MfYYzaol3BKLs3MAu61g2ig3cHNh4=s180);
  background-repeat: no-repeat;
  background-position: right;
  height: 200px;
  padding: 40px;
}
header h1 {
  font-size: 56px;
  font-weight: 300;
}
form {
  margin-top:20px;
}
form textarea {
  width: 100%;
}
.important {
  background-color: red;
  color: white;
}
.btn-secondary {
  background-color: red;
  display: flex;
  margin-left: auto;
}
.btn-secondary:hover {
  background-color: #7c0001;
}
