<!DOCTYPE html>
<html lang="en">

<head>
  <title>Me</title>
</head>

<body>
  <h1> </h1>
  <p>Me llamo  <%= aName%> </p>
  <p>I am <%= anAge%> years old.</p>
  <p>Some of my hobbies are:</p>
  <%# What is missing here? %>
  <ul>
      <%= variousHobbies %>
  </ul>

  <p>I am a <%= aProfessionß%></p>
</body>
</html>
